<!DOCTYPE html>
<html>
<head>
    <title>Encryption and Decryption</title>
</head>
<body>
    <h2>Encryption and Decryption</h2>
    <form action="/encrypt" method="post">
        <label for="data">Enter Data to Encrypt:</label><br>
        <input type="text" id="data" name="data"><br>
        <button type="submit">Encrypt</button>
    </form>
    <br>
    <form action="/decrypt" method="post">
        <label for="encrypted_data">Enter Encrypted Data to Decrypt:</label><br>
        <input type="text" id="encrypted_data" name="encrypted_data"><br>
        <button type="submit">Decrypt</button>
    </form>
</body>
</html>
